@model PTPMultiservice.ViewModels.MapClientsToPartnerViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int srNo = 1;
}

<style>
    .remove-padding a {
        padding: 0;
    }
</style>

<h2 class="adminTitle text-center text-uppercase">@ViewBag.Title</h2>

@Html.ActionLink("Map Client", "MapClientsToPartnerNew", "Partners", null, new { @class = "btn btn-primary add-btn" })

<div class="tableDiv">
    <table id="adminTbl" class="table table-bordered table-hover table-responsive table-striped">
        <thead>
            <tr>
                <th>Sr</th>
                <th>Client Name</th>                
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.PartnerClientsMappings)
                {
                    <tr>
                        <td>@srNo</td>
                        <td>
                            @Model.Clients.FirstOrDefault(x => x.client_id == item.client_id).client_name - @Model.Clients.FirstOrDefault(x => x.client_id == item.client_id).branch
                        </td>
                        <td>
                            @{
                                if (item.is_active)
                                {
                                    <span class="badge badge-success">Active</span>
                                }
                                else
                                {
                                    <span class="badge badge-warning">In-Active</span>
                                }
                            }
                        </td>                       
                        <td class="remove-padding">                            
                            @Html.ActionLink("Toggle Status", "MapClientsToPartnerToggleStatus", "Partners", new { id = item.partner_client_map_id }, new { @class = "btn btn-link" }) |
                            @using (@Html.BeginForm("MapClientsToPartnerDelete", "Partners", FormMethod.Post, new { style = "display: inline;", onClick = "return confirm('Are you sure you want tp perform this action?')" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("id", item.partner_client_map_id)
                                <button type="submit" class="btn btn-link" style=" padding: 0;">Delete</button>
                            }
                        </td>
                    </tr>
                    srNo++;
                }
            }
        </tbody>
    </table>
</div>

@Html.ActionLink("Back to List", "Index", "Partners", null, new { @class = "btn btn-link add-btn" })