@model PTPMultiservice.ViewModels.TermsConditionViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int srNo = 1;
}

<style>
    .remove-padding a {
        padding: 0;
    }
</style>

<h2 class="adminTitle text-center text-uppercase">@ViewBag.Title</h2>

@Html.ActionLink("Add Terms and Condition", "TearmsConditionsNew", "Partners", null, new { @class = "btn btn-primary add-btn" })

<div class="tableDiv">
    <table id="adminTbl" class="table table-bordered table-hover table-responsive table-striped">
        <thead>
            <tr>
                <th>Sr</th>
                <th>PL Sharing Percent</th>
                <th>Monthly Incentives</th>
                <th>Yearly Incentives</th>
                <th>Other Perks</th>
                <th>Notice Period In Days</th>
                <th>Any Other Terms</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.TermsConditions)
                {
                    <tr>
                        <td>@srNo</td>
                        <td>@item.pl_sharing_percent</td>
                        <td>@item.monthly_incentives</td>
                        <td>@item.yearly_incentives</td>
                        <td>@item.other_perks</td>
                        <td>@item.notice_period_in_days</td>
                        <td>@item.other_terms</td>
                        <td class="remove-padding">
                            @Html.ActionLink("Edit", "TearmsConditionsEdit", "Partners", new { id = item.terms_condition_id }, new { @class = "btn btn-link" }) |

                            @using (@Html.BeginForm("TearmsConditionsDelete", "Partners", FormMethod.Post, new { style = "display: inline;", onClick = "return confirm('Are you sure you want tp perform this action?')" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("id", item.terms_condition_id)
                                <button type="submit" class="btn btn-link" style=" padding: 0;">Delete</button>
                            }
                        </td>
                    </tr>
                    srNo++;
                }
            }
        </tbody>
    </table>
</div>

@Html.ActionLink("Back to List", "Index", "Partners", null, new { @class = "btn btn-link add-btn" })