@if (@Session["AdminId"] == null)
{
    Response.Redirect("~/Admin");
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*<img src="~/content/img/ptp-logo.jpeg" height="85" width="100" style="margin: 2px 0 2px 0px;">*@
                    @Html.ActionLink("PTP MULTISERVICE", "Index", "Admin/Dashboard", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Master <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Manage Partners", "Index", "Partners")
                                </li>
                                <li>
                                    @Html.ActionLink("Manage Clients", "Index", "Clients")
                                </li>
                                 <li>
                                    @Html.ActionLink("Manage Employees", "Index", "Employees")
                                </li>
                                @*<li>
                                    @Html.ActionLink("Manage Admins", "Index", "Admins")
                                </li>                                                               
                                <li>
                                    @Html.ActionLink("Manage Partners", "Index", "Partners")
                                </li>
                                <li>
                                    @Html.ActionLink("Manage Vendors", "Index", "Home")
                                </li>*@
                            </ul>
                        </li>
                        @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Map Clients to Partner", "Index", "MapClientsToPartner")
                                </li>
                                <li>
                                    @Html.ActionLink("Map Employees to Client", "Index", "MapEmployeesToClient")
                                </li>
                            </ul>
                        </li>*@
                    </ul>

                </div>
            </div>
            <div class="col-md-3">
                <div class="navbar-collapse collapse">
                    @if (Session["AdminId"] != null)
                    {
                        using (Html.BeginForm("LogOff", "Dashboard", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="javascript:void(0)">Hello @Session["AdminEmail"].ToString()!</a>
                                </li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                            </ul>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
